n8n-email-workflow.json
{
  "name": "Email Verification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-verification-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [300, 300],
      "webhookId": "verification-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.type }}",
              "rightValue": "verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-node",
      "name": "Check Email Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.to }}",
        "subject": "Verify Your Email - Sanrico Mercantile",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Email Verification - Sanrico Mercantile</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            margin: 0;\n            padding: 20px;\n            min-height: 100vh;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 20px;\n            padding: 40px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.1);\n            text-align: center;\n        }\n        .logo {\n            color: #3498db;\n            font-size: 32px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .subtitle {\n            color: #666;\n            font-size: 16px;\n            margin-bottom: 30px;\n        }\n        .verification-code {\n            background: linear-gradient(45deg, #3498db, #2980b9);\n            color: white;\n            font-size: 36px;\n            font-weight: bold;\n            text-align: center;\n            padding: 25px;\n            border-radius: 15px;\n            letter-spacing: 8px;\n            margin: 30px 0;\n            box-shadow: 0 10px 30px rgba(52, 152, 219, 0.3);\n        }\n        .instructions {\n            color: #555;\n            font-size: 16px;\n            line-height: 1.6;\n            margin: 20px 0;\n        }\n        .expiry {\n            background: rgba(243, 156, 18, 0.1);\n            color: #f39c12;\n            padding: 15px;\n            border-radius: 10px;\n            font-weight: 600;\n            margin: 20px 0;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 30px;\n            border-top: 1px solid #eee;\n            color: #888;\n            font-size: 14px;\n        }\n        .brand {\n            color: #3498db;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"logo\">🏪 Sanrico Mercantile</div>\n        <div class=\"subtitle\">Hardware & Mercantile Store</div>\n        \n        <h2 style=\"color: #2c3e50; margin: 30px 0;\">Email Verification Required</h2>\n        \n        <p class=\"instructions\">Hello <strong>{{ $json.userName }}</strong>,</p>\n        \n        <p class=\"instructions\">Thank you for registering with Sanrico Mercantile! To complete your account setup and start shopping with us, please verify your email address using the verification code below:</p>\n        \n        <div class=\"verification-code\">{{ $json.verificationCode }}</div>\n        \n        <p class=\"instructions\">Enter this <strong>4-digit code</strong> in the verification dialog on our website to activate your account.</p>\n        \n        <div class=\"expiry\">\n            ⏰ <strong>Important:</strong> This code will expire in 10 minutes for security purposes.\n        </div>\n        \n        <p class=\"instructions\">If you didn't create an account with Sanrico Mercantile, please ignore this email and no account will be created.</p>\n        \n        <div class=\"footer\">\n            <p><strong>Best regards,</strong><br>The <span class=\"brand\">Sanrico Mercantile</span> Team</p>\n            <p style=\"font-size: 12px; color: #aaa;\">This is an automated email. Please do not reply to this message.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "",
          "bccEmail": "",
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "gmail-verification",
      "name": "Send Verification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "sanrico-gmail-oauth",
          "name": "Sanrico Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.to }}",
        "subject": "Password Reset - Sanrico Mercantile",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Password Reset - Sanrico Mercantile</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            margin: 0;\n            padding: 20px;\n            min-height: 100vh;\n        }\n        .container {\n            max-width: 600px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 20px;\n            padding: 40px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.1);\n            text-align: center;\n        }\n        .logo {\n            color: #3498db;\n            font-size: 32px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .subtitle {\n            color: #666;\n            font-size: 16px;\n            margin-bottom: 30px;\n        }\n        .reset-button {\n            background: linear-gradient(45deg, #e74c3c, #c0392b);\n            color: white;\n            text-decoration: none;\n            padding: 20px 40px;\n            border-radius: 15px;\n            display: inline-block;\n            font-weight: bold;\n            font-size: 18px;\n            margin: 30px 0;\n            box-shadow: 0 10px 30px rgba(231, 76, 60, 0.3);\n        }\n        .instructions {\n            color: #555;\n            font-size: 16px;\n            line-height: 1.6;\n            margin: 20px 0;\n        }\n        .link-box {\n            background: #f8f9fa;\n            padding: 15px;\n            border-radius: 10px;\n            word-break: break-all;\n            font-family: monospace;\n            font-size: 14px;\n            color: #666;\n            margin: 20px 0;\n        }\n        .expiry {\n            background: rgba(243, 156, 18, 0.1);\n            color: #f39c12;\n            padding: 15px;\n            border-radius: 10px;\n            font-weight: 600;\n            margin: 20px 0;\n        }\n        .footer {\n            margin-top: 40px;\n            padding-top: 30px;\n            border-top: 1px solid #eee;\n            color: #888;\n            font-size: 14px;\n        }\n        .brand {\n            color: #3498db;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"logo\">🏪 Sanrico Mercantile</div>\n        <div class=\"subtitle\">Hardware & Mercantile Store</div>\n        \n        <h2 style=\"color: #2c3e50; margin: 30px 0;\">Password Reset Request</h2>\n        \n        <p class=\"instructions\">Hello <strong>{{ $json.userName }}</strong>,</p>\n        \n        <p class=\"instructions\">We received a request to reset your password for your Sanrico Mercantile account. Click the button below to create a new password:</p>\n        \n        <a href=\"{{ $json.resetLink }}\" class=\"reset-button\">Reset Your Password</a>\n        \n        <p class=\"instructions\">If the button doesn't work, copy and paste this link into your browser:</p>\n        <div class=\"link-box\">{{ $json.resetLink }}</div>\n        \n        <div class=\"expiry\">\n            ⏰ <strong>Important:</strong> This link will expire in 1 hour for security purposes.\n        </div>\n        \n        <p class=\"instructions\">If you didn't request this password reset, please ignore this email and your password will remain unchanged.</p>\n        \n        <div class=\"footer\">\n            <p><strong>Best regards,</strong><br>The <span class=\"brand\">Sanrico Mercantile</span> Team</p>\n            <p style=\"font-size: 12px; color: #aaa;\">This is an automated email. Please do not reply to this message.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "",
          "bccEmail": "",
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "gmail-password-reset",
      "name": "Send Password Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "sanrico-gmail-oauth",
          "name": "Sanrico Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Email sent successfully\",\n  \"timestamp\": \"{{ $now }}\"\n}"
      },
      "id": "response-node",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Type": {
      "main": [
        [
          {
            "node": "Send Verification Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Password Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Password Reset Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "1"
}