n8n-workflow-config.json
{
  "name": "Email Verification Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-verification-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a5c2c4e8-3d2b-4f5a-9b1c-8e7f6d5c4b3a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [420, 300],
      "webhookId": "verification-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8f7e6d5c-4b3a-2901-8765-4321fedcba09",
              "leftValue": "={{ $json.type }}",
              "rightValue": "verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1d3f5e7-9c2b-4a6f-8e1d-3c5b7a9f2e4d",
      "name": "Check Email Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.to }}",
        "subject": "Verify Your Email - Sanrico Mercantile",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Email Verification</title>\n    <style>\n        body { font-family: Arial, sans-serif; background: #f4f4f4; margin: 0; padding: 20px; }\n        .container { max-width: 600px; margin: 0 auto; background: white; border-radius: 10px; padding: 30px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }\n        .header { text-align: center; margin-bottom: 30px; }\n        .logo { color: #3498db; font-size: 28px; font-weight: bold; }\n        .verification-code { background: #3498db; color: white; font-size: 32px; font-weight: bold; text-align: center; padding: 20px; border-radius: 8px; letter-spacing: 8px; margin: 20px 0; }\n        .footer { text-align: center; margin-top: 30px; color: #666; font-size: 14px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <div class=\"logo\">🏪 Sanrico Mercantile</div>\n            <h2>Email Verification Required</h2>\n        </div>\n        \n        <p>Hello {{ $json.userName }},</p>\n        \n        <p>Thank you for registering with Sanrico Mercantile! To complete your account setup, please verify your email address using the verification code below:</p>\n        \n        <div class=\"verification-code\">{{ $json.verificationCode }}</div>\n        \n        <p>Enter this 4-digit code in the verification dialog to activate your account.</p>\n        \n        <p><strong>This code will expire in 10 minutes.</strong></p>\n        \n        <p>If you didn't request this verification, please ignore this email.</p>\n        \n        <div class=\"footer\">\n            <p>Best regards,<br>The Sanrico Mercantile Team</p>\n            <p>This is an automated email. Please do not reply.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "",
          "bccEmail": "",
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "c2e4f6a8-1b3d-5f7a-9c2e-4b6d8a1f3e5c",
      "name": "Send Verification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [860, 240],
      "credentials": {
        "gmailOAuth2": {
          "id": "sanrico-gmail-oauth",
          "name": "Sanrico Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.to }}",
        "subject": "Password Reset - Sanrico Mercantile",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Password Reset</title>\n    <style>\n        body { font-family: Arial, sans-serif; background: #f4f4f4; margin: 0; padding: 20px; }\n        .container { max-width: 600px; margin: 0 auto; background: white; border-radius: 10px; padding: 30px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }\n        .header { text-align: center; margin-bottom: 30px; }\n        .logo { color: #3498db; font-size: 28px; font-weight: bold; }\n        .reset-button { background: #3498db; color: white; text-decoration: none; padding: 15px 30px; border-radius: 8px; display: inline-block; font-weight: bold; margin: 20px 0; }\n        .footer { text-align: center; margin-top: 30px; color: #666; font-size: 14px; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <div class=\"logo\">🏪 Sanrico Mercantile</div>\n            <h2>Password Reset Request</h2>\n        </div>\n        \n        <p>Hello {{ $json.userName }},</p>\n        \n        <p>We received a request to reset your password for your Sanrico Mercantile account.</p>\n        \n        <p style=\"text-align: center;\">\n            <a href=\"{{ $json.resetLink }}\" class=\"reset-button\">Reset Your Password</a>\n        </p>\n        \n        <p>If the button doesn't work, copy and paste this link into your browser:</p>\n        <p>{{ $json.resetLink }}</p>\n        \n        <p><strong>This link will expire in 1 hour.</strong></p>\n        \n        <p>If you didn't request this password reset, please ignore this email and your password will remain unchanged.</p>\n        \n        <div class=\"footer\">\n            <p>Best regards,<br>The Sanrico Mercantile Team</p>\n            <p>This is an automated email. Please do not reply.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "allowUnauthorizedCerts": false,
          "ccEmail": "",
          "bccEmail": "",
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": []
          }
        }
      },
      "id": "d3f5a7c9-2e4b-6a8c-1d3f-5a7c9e1b4d6a",
      "name": "Send Password Reset Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [860, 360],
      "credentials": {
        "gmailOAuth2": {
          "id": "sanrico-gmail-oauth",
          "name": "Sanrico Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Email sent successfully\"\n}"
      },
      "id": "e4a6c8b1-3f5d-7a9e-2c4e-6a8c1f3e5a7c",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Type": {
      "main": [
        [
          {
            "node": "Send Verification Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Password Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Password Reset Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "1"
} 